<% title "Type Of Reminders" %>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% for type_of_reminder in @type_of_reminders %>
    <tr>
      <td><%= type_of_reminder.name %></td>
      <td><%= link_to "Show", type_of_reminder %></td>
      <td><%= link_to "Edit", edit_type_of_reminder_path(type_of_reminder) %></td>
      <td><%= link_to "Destroy", type_of_reminder, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Type Of Reminder", new_type_of_reminder_path %></p>
