<%= form_for @accident do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :report_number %><br />
    <%= f.text_field :report_number %>
  </p>
  <p>
    <%= f.label :date_of_injury %><br />
    <%= f.text_field :date_of_injury %>
  </p>
  <p>
    <%= f.label :employee_name %><br />
    <%= f.text_field :employee_name %>
  </p>
  <p>
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </p>
  <p>
    <%= f.label :employee_job %><br />
    <%= f.text_field :employee_job %>
  </p>
  <p>
    <%= f.label :reported_to_insurance_carrier %><br />
    <%= f.text_field :reported_to_insurance_carrier %>
  </p>
  <p>
    <%= f.label :claim_number %><br />
    <%= f.text_field :claim_number %>
  </p>
  <p>
    <%= f.label :monies_paid_ %><br />
    <%= f.text_field :monies_paid_ %>
  </p>
  <p>
    <%= f.label :type_of_incident %><br />
    <%= f.text_field :type_of_incident %>
  </p>
  <p>
    <%= f.label :time_of_incident %><br />
    <%= f.text_field :time_of_incident %>
  </p>
  <p>
    <%= f.label :supervisor_when_accident_occurred %><br />
    <%= f.text_field :supervisor_when_accident_occurred %>
  </p>
  <p>
    <%= f.label :drug_screen %><br />
    <%= f.check_box :drug_screen %>
  </p>
  <p>
    <%= f.label :lost_time_ %><br />
    <%= f.check_box :lost_time_ %>
  </p>
  <p>
    <%= f.label :days_of_lost_time %><br />
    <%= f.text_field :days_of_lost_time %>
  </p>
  <p>
    <%= f.label :previous_accidents %><br />
    <%= f.text_field :previous_accidents %>
  </p>
  <p>
    <%= f.label :file_status %><br />
    <%= f.text_field :file_status %>
  </p>
  <p>
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </p>
  <p><%= f.submit %></p>
<% end %>
