<% title "Accidents" %>

<table>
  <tr>
    <th>Report Number</th>
    <th>Date Of Injury</th>
    <th>Employee Name</th>
    <th>Location</th>
    <th>Employee Job</th>
    <th>Reported To Insurance Carrier</th>
    <th>Claim Number</th>
    <th>Monies Paid </th>
    <th>Type Of Incident</th>
    <th>Time Of Incident</th>
    <th>Supervisor When Accident Occurred</th>
    <th>Drug Screen</th>
    <th>Lost Time </th>
    <th>Days Of Lost Time</th>
    <th>Previous Accidents</th>
    <th>File Status</th>
    <th>Notes</th>
  </tr>
  <% for accident in @accidents %>
    <tr>
      <td><%= accident.report_number %></td>
      <td><%= accident.date_of_injury %></td>
      <td><%= accident.employee_name %></td>
      <td><%= accident.location %></td>
      <td><%= accident.employee_job %></td>
      <td><%= accident.reported_to_insurance_carrier %></td>
      <td><%= accident.claim_number %></td>
      <td><%= accident.monies_paid_ %></td>
      <td><%= accident.type_of_incident %></td>
      <td><%= accident.time_of_incident %></td>
      <td><%= accident.supervisor_when_accident_occurred %></td>
      <td><%= accident.drug_screen %></td>
      <td><%= accident.lost_time_ %></td>
      <td><%= accident.days_of_lost_time %></td>
      <td><%= accident.previous_accidents %></td>
      <td><%= accident.file_status %></td>
      <td><%= accident.notes %></td>
      <td><%= link_to "Show", accident %></td>
      <td><%= link_to "Edit", edit_accident_path(accident) %></td>
      <td><%= link_to "Destroy", accident, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Accident", new_accident_path %></p>
