<% title "Appointments" %>

<table>
  <tr>
    <th>Accident</th>
    <th>Date</th>
    <th>Time</th>
    <th>Location Name</th>
    <th>Type Of Reminder</th>
    <th>Manager</th>
    <th>Notes</th>
  </tr>
  <% for appointment in @appointments %>
    <tr>
      <td><%= appointment.accident_id %></td>
      <td><%= appointment.date %></td>
      <td><%= appointment.time %></td>
      <td><%= appointment.location_name %></td>
      <td><%= appointment.type_of_reminder_id %></td>
      <td><%= appointment.manager_id %></td>
      <td><%= appointment.notes %></td>
      <td><%= link_to "Show", appointment %></td>
      <td><%= link_to "Edit", edit_appointment_path(appointment) %></td>
      <td><%= link_to "Destroy", appointment, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Appointment", new_appointment_path %></p>
